@import 'accounts/payments';

.challenge-panel--finished {
  opacity: 0.3;
}

.logo {
  display: block;
  padding: 10px 0 10px 10px;
}

.logo__image {
  height: 50px;
}

.navigation {
  padding: 10px 0;
}

.navigation-toggle {
  margin-top: 18px;
}
