@import "challenge-list";
@import "new-challenge";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  width: 800px;
  height: 600px;
}
