html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.w-challege-list {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #D4DCEA;
  background-color: #1E253C;

  height: 190px;
  width: 374px;
  overflow: hidden;

  position: relative;

  padding: 10px 6px 10px 4px;
}

.--transparent-bg {
  background-color: rgba(30, 37, 60, 0.8); //#D4DCEA
}

.w-challege-list * {
  box-sizing: border-box;
}

.w-challege-list__status-header {
  margin-left: .8rem;
}

.w-challege-list__status-header_line{
  margin-top: 2px;
  width: 8rem;
  height: 2px;
  background-color: #D4DCEA;
}

.w-challege-list__project-name {
  position: absolute;
  right: 8px;
  top: 10px;
}

.challenge-list {
  margin-top: 12px;
  height: calc(190px - 10px * 2 - 1rem - 2px);
  overflow: hidden;
}

.challenge {
  margin: 0 0 12px 0;
}

.--done {
  text-decoration: line-through;
}

.details {
  font-size: 8px;
  margin: 8px 0 0 .8rem;
}

.details__line {
  display: flex;
  margin-bottom: 4px;
}

.details__line__name {
  width: 8rem;
}

.challenge-list__no-challenges-text {
  margin-top: 1.6rem;
  text-align: center;
}

.--hidden {
  display: none;
}

