extends ./widget-layout

block content
  script(src='/js/widget/challenge-list.js')

  .w-challege-list.--transparent-bg
    .w-challege-list__project-name Challenges

    .w-challege-list__status-header
      div In Progress
      .w-challege-list__status-header_line

    if acceptedChallenges && acceptedChallenges.length
      .challenge-list
        each challenge in acceptedChallenges
          .challenge
            div - #{challenge.name}
            .details
              .details__line
                .details__line__name Time left:
                div #{formatDuration(challenge.duration)}
              .details__line
                .details__line__name Price:
                div $#{challenge.price} 

    if !acceptedChallenges || !acceptedChallenges.length
      div(style='text-align: center;') There are no challenges yet. Yours can be the first one!    

    if doneChallenges && doneChallenges.length
      div
        legend Done
