extends layout

block content
  .aloha-container
    h1.aloha-header Contact us

    form(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .contact-form__block
        label.contact-form__label(for='name') Name
        input.contact-form__input(type='text', name='name', id='name', autofocus=true)
      .contact-form__block
        label.contact-form__label(for='email') Email
        input.contact-form__input(type='text', name='email', id='email')
      .contact-form__block
        label.contact-form__label(for='message') Body
        textarea.contact-form__input(name='message', id='message', rows='7')
      .contact-form__block
        button.contact-form__submit(type='submit')
          i.fa.fa-envelope
          | Send
