extends layout

block content
  div(style='margin-top: 25%;')
    .text-center Start to earn money by completing challenges
    .text-center(style='margin-top: 15px;')
      a.btn.btn-primary(href='/account/challenges') Start my Challenge path
