extends layout

block content
  div(style='margin-top: 25%;')
    .text-center The only thing that you want to do right now - is to
    .text-center(style='margin-top: 15px;')
      a.btn.btn-primary(href='/challenges/new') Create New Challenge
