.login-form__block {
  margin-top: 2rem;
}

.login-form__label {
  display: block;
  font-weight: normal;
  margin-bottom: 1rem;
}

.login-form__input {
  display: block;
  width: 100%;
  min-height: 4rem;
  font-size: 16px;
  padding: 0 1.5rem 0 1.5rem;
  margin: .5rem 0 .5rem 0;
  background: white;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.login-form__input:focus {
  outline-color: #01A9AA;
}

.login-form__submit {
  border-radius: 2px !important;
  height: 4rem;
  width: 100%;
  text-align: center;
  transition: 200ms all;
  background-color: #01A9AA;
  color: #ffffff;
  margin-top: 1rem;
}

.login-form__submit:hover {
  background-color: #02bcbd;
}

.login-form__link {
  color: #01A9AA;
  text-decoration: none;
}

.login-form__link:hover, .login-form__link:visited {
  color: #01A9AA;
}
