.center-stub-phrase {
  text-align: center;
  margin: 3rem 0;
}

.totals {
  display: flex;
  margin-top: 3rem;
  align-items: flex-end;
  flex-direction: column;
}

.totals__amount {
  display: flex;
  justify-content: space-between;
  width: 25rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.totals__amount__title {
  width: 17rem;
}
