.payments {
  color: #4A4A4A;
}

.payments__header {
  margin-bottom: 2rem;
}

.payments__header__column {
  font-weight: bold;
}

.payments__column {
  margin: 2rem 0;
  line-height: 2rem;
}

.payments__column__id {
  font-size: 1rem;
}

.payments__column__challenge-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.payments__column__10width {
  width: 10%;
  float: left;
}

.payments__column__20width {
  width: 20%;
  float: left;
}

.payments__column__40width {
  width: 40%;
  float: left;
}

.payments__row {
  clear: both;
}

.center-stub-phrase {
  text-align: center;
  margin: 3rem 0;
}

.totals {
  display: flex;
  margin-top: 3rem;
  align-items: flex-end;
  flex-direction: column;
}

.totals__amount {
  display: flex;
  justify-content: space-between;
  width: 25rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.totals__amount__title {
  width: 17rem;
}
