.profile-form__block {
  margin-top: 2rem;
}

.profile-form__label {
  display: block;
  font-weight: normal;
  margin-bottom: 1rem;
}

.profile-form__input {
  display: block;
  width: 100%;
  min-height: 4rem;
  font-size: 16px;
  padding: 0 1.5rem 0 1.5rem;
  margin: .5rem 0 .5rem 0;
  background: white;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.profile-form__input:focus {
  outline-color: #01A9AA;
}

.profile-form__submit {
  border-radius: 2px !important;
  height: 4rem;
  width: 100%;
  text-align: center;
  transition: 200ms all;
  background-color: #01A9AA;
  color: #ffffff;
  margin-top: 1rem;
}

.profile-form__submit:hover {
  background-color: #02bcbd;
}

.profile-form__block__radio-group {
  display: flex;
}

.radio-group__item {
  margin: 0 1rem;
}

.radio-group__item__radio {
  margin-right: 1rem !important;
}
