.widgets__settings-block {
  margin-top: 2rem;
}

.widgets__widget-description {
  margin: 1rem 0 4rem 0;
}

.widgets__widget-example {
  margin: 4rem 0 4rem 0;
}

.widgets__widget-example__image {
  display: flex;
  justify-content: center;
}

.widget__test-buttons {
  margin-top: 2rem;
}

.widget__test-buttons__button {
  border-radius: 2px;
  height: 4rem;
  width: 17rem;
  text-align: center;
  transition: 200ms all;
  background-color: #01A9AA;
  color: #ffffff;
  margin-top: 1rem;  
}
