.widgets__settings-block {
  margin-top: 2rem;
}

.widgets__widget-description {
  margin: 1rem 0 4rem 0;
}

.widgets__widget-example {
  margin: 4rem 0 4rem 0;
}

.widgets__widget-example__image {
  display: flex;
  justify-content: center;
}
