extends ../layout

block content
  .aloha-container.aloha-container--short
    h1.aloha-header Sign up
    form.login-form(id='signup-form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .login-form__block
        label.login-form__label(for='email') Email
        input.login-form__input(type='email', name='email', id='email', placeholder='Email', autofocus, required)
      .login-form__block
        label.login-form__label(for='password') Password
        input.login-form__input(type='password', name='password', id='password', placeholder='Password', required)
      .login-form__block
        label.login-form__label(for='confirmPassword') Confirm Password
        input.login-form__input(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', required)
      .login-form__block
        button.login-form__submit(type='submit')
          | Signup
