extends ../layout

block content
  .aloha-container
    h1.aloha-header Widgets
  
    .widgets__settings-block
      legend Challenge List widget

      div
        p.widgets__widget-description Widget shows the list of active challenges.

        p Widget URL:

        .input-group
          input.form-control(value=challengeListWidgetLink, id='challenge-list-widget-link')
          .input-group-btn
            button.btn.btn-default(data-clipboard-target="#challenge-list-widget-link")
              i.fa.fa-copy
        
        .widgets__widget-example
          div Example how it looks like during the stream:
          div.widgets__widget-example__image
            img(src='/images/widget/challenge-list-widget-example.png', style='height: 350px; margin: 15px 0;')

        .widgets__widget-technical-info
          .widgets__widget-technical-info__header Technical information:
          | If you use OBS - don't forget to remove default `CSS` properties when you are adding the widget.

    //- div
    //-   legend New Challenge notifier
