.header
  a.logo(href='/')
      img.logo__image(src='/images/logo.svg')
  ul.header__buttons
    if user
        li.header__buttons__list-item(class=(title === 'Challenges') ? 'active' : undefined)
          a.header__buttons__list-item__link(href='/challenges/mine') Challenges
    li.header__buttons__list-item(class=(title === 'Contact') ? 'active' : undefined)
      a.header__buttons__list-item__link(href='/contact') Contact us
    if !user
      li.header__buttons__list-item(class=(title === 'Login') ? 'active' : undefined)
        a.header__buttons__list-item__link(href='/login') Login
      li.header__buttons__list-item(class=(title === 'Create Account') ? 'active' : undefined)
        a.header__buttons__list-item__link(href='/signup') Create Account
    else
      li.dropdown(class=(title === 'Account Management') ? 'active' : undefined)
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          if user.profile.picture
            img(src=user.profile.picture)
          else
            img(src=user.gravatar(60))
          span= user.profile.name || user.email || user.id
          i.caret
        ul.dropdown-menu
          li.header__drop-down-item
            a.header__drop-down-item__link(href='/account/challenges') Challenge settings
          li.header__drop-down-item
            a.header__drop-down-item__link(href='/account/widgets') Stream Widgets
          li.header__drop-down-item
            a.header__drop-down-item__link(href='/account/payments') Payments
          li.header__drop-down-item
            a.header__drop-down-item__link(href='/account') My Account
          li.header__drop-down-item.divider
          li.header__drop-down-item
            a.header__drop-down-item__link(href='/logout') Logout
  .header__buttons--mobile
    a.header__buttons--mobile__burger-link(id='header-buttons-mobile')
      i.fas.fa-bars.fa-2x
